/* Table of Contents: 
1. Variables
2. CSS Reset
3. Global Styles
4. "Buttons"
5. General Content Layout Classes
6. NavBar
7. About section
8. Testimonials
9. Services
10. Gallery Cards */


/* 1. Variables */
:root {
	--white: white;
	--black: #000000;
	--dark-grey: #6D6B6B;
	--light-grey: #D9D9D9;
	--primary: hwb(256 10% 9%);
	--secondary: #FFFF00;
	--cream: #FAF6EB;
	/* Size */
	--desk-margin: 30px;
	--mob-margin: 16px;

	/* Conversions */
	/* 	14px = 0.875
		16px = 1rem
		18px = 1.125
		24px = 1.5
		32px = 2
		48px = 3
		60px = 3.75
		96px = 6
		120px = 7.5
		 */


}

/* 2. CSS Reset */
html {
	box-sizing: border-box; 
}

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0; 
}
   
* {
	/*border: 1px solid red;  for build purposes only */
}


/* 3. Global styles */

body {
	font-family: "DM Sans", sans-serif;
	font-weight: 300;
	font-size: 1.125rem;
	line-height: 1.2;
	color: var(--black);
	background-color: var(--cream);
	width: 100vw;
}

a {
	color: var(--black);
	text-transform: uppercase;
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: inherit;
}

h2 {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 300;
	font-style: italic;
}

h3 {
	text-transform: uppercase;
	font-size: inherit;
	
}

quote {
	font-family: 'Miller Text', serif;
	font-size: 3rem;
	font-weight: 500;
}

ul {
	list-style: none;
}

/* 4. "Buttons" are in fact links styled as buttons*/
a.btn {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	width: 300px;
	padding: 12px 24px; 
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	background-color: inherit;
	border: 1px solid var(--black);
	position: relative;
	z-index:-1;
}

a.btn.with-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

/* Default bubble animation*/
a.btn:hover {
	transition: 500ms ease-in;
	background-color: var(--primary);
	color: var(--cream);
	height: 300px;
	border: none;
	border-radius: 300px;
	top: -122px;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.55);
}

/* No-bubble - rectangle animation */
a.btn.no-bubble:hover {
	height: inherit;
	border-radius: inherit;
	top: 0;
	box-shadow: none;
}


/* 5. General Content Layout Classes */

.content-spacing-32 {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.content-spacing-60 {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.content-spacing-96 {
	display: flex;
	flex-direction: column;
	gap: 96px;
}

.device-margin {
	margin: 0 var(--desk-margin);
}

.body-large {
	font-size: 2rem;
	letter-spacing: -4%;
}

.body-small {
	font-size: 1.125rem;
	line-height: 1.5;
	color: var(--dark-grey);
}
 
.body-xsmall {
	font-size: 1rem;
	line-height: 1.5;
}

.section-header {
	padding: 0 0 14px;
	border-bottom: 1px solid var(--black);
	font-weight: 200;
	margin: 0 30px 24px 30px;

}

/* Content Sections */

/* 6. Navbar */

nav {
	background-color: var(--cream);
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: 100%;
	padding: 0 var(--desk-margin);
	height: 64px;
	position: fixed;
	top: 0;
	left: 0;
	/* box-shadow: 0 2px 2px rgba(0,0,0,0.4);*/
}

nav ul {
  display: flex;
}

nav li a {
	display: block;
	padding: 1rem 2rem;
	font-style: italic;
	font-size: 1.25rem;
	text-decoration: underline;
}

nav a:hover {
	color: var(--primary);
	transform: scale(1.25);
	transition: 200ms ease-in-out;
	font-weight: 500;
}
   
nav.scrolled {
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}


/* 7. About Section */

.about-section {
	margin: 64px 0px 96px;
}

.about-section img {
	width: 100%;
}


/* 8. Testimonials */

.testimonials {
	margin: 60px 0px 96px;
}

.testimonial-card {
	margin-top: 96px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 66%;
}

.testimonial-card:first-of-type {
	margin-top: 36px;
}

.testimonial-card > p {
	width: 75%;
}

.referee-container {
	display: flex;
	align-items: center;
	gap: 32px;
}

.referee-container img {
	width: 64px;
	aspect-ratio: 1/1;
}

.referee-name {
 color: var(--dark-grey)
}


/* 9. Services */

.services-gallery {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: 	"pt wt"
							"pl wl"
							"pb wb";
	row-gap: 60px;
	justify-items: center;
	padding-bottom: 96px;
}

#ProductTitle {
	grid-area: pt; /* 1 / 1 / 2 / 2;*/
}

#WebsiteTitle {
	grid-area: wt; /* 1 / 2 / 2 / 3;*/
}

#ProductList {
	grid-area: pl; /* 2 / 1 / 3 / 2; */
}

#ProductBtn {
	grid-area: pb; /* 3 / 1 / 4 / 2; */
}


#WebsiteList {
	grid-area: 
}

#WebsiteBtn {
	grid-area: 
}

.design-service-card {
	width: 50%;
	align-items: center;
	padding-bottom: 60px;
}

.services-gallery h3 {
	display: block;
	background-color: var(--black);
	color: var(--cream);
	width: 100%;
	padding: 1.125rem;
	font-family: 'Miller Text', serif;
	font-size: 3.75rem;
	font-style: italic;
	text-align: center;
}

.services-gallery ul {
	width: 66%;
}

.product, .product a.btn {
	color: var(--primary);
	border-color: var(--primary);
}

.product h3 {
	background-color: var(--primary);
}


.product a.btn.no-bubble:hover {
	background-color: var(--black);
	color: var(--cream);
}

/*.services-gallery {
	display: flex;
	flex-wrap: wrap;
}

.design-service-card {
	width: 50%;
	align-items: center;
	padding-bottom: 60px;
}

.design-service-card h3 {
	display: block;
	background-color: var(--black);
	color: var(--cream);
	width: 100%;
	padding: 1.125rem;
	font-family: 'Miller Text', serif;
	font-size: 3.75rem;
	font-style: italic;
	text-align: center;
}

.design-service-card ul {
	width: 66%;
}

.product, .product a.btn {
	color: var(--primary);
	border-color: var(--primary);
}

.product h3 {
	background-color: var(--primary);
}


.product a.btn.no-bubble:hover {
	background-color: var(--black);
	color: var(--cream);
}*/

/* 10. Gallery Cards */

.project-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 32px;
}

.project-card .image-container {
	border-radius: 30px;
	height: 30vh;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.project-card img {
	width: 100%;	
}

.project-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end; 
	min-height: calc(3.5rem + 2vw); /* if breakpoint is around 1000 */

}

.project-title p {
	font-style: italic;
	text-transform: none;
	min-height: 1.5rem;
}

.project-title h3 {
	font-family: 'Miller Text', serif;
	font-size: 1.6vw; /* 2rem; */
	font-style: italic;
	font-weight: inherit;
}

.project-title .tags {
	display: grid;
	grid-auto-flow: row dense;
	justify-content: start;
	gap: 1.25rem;
}

p.tag {
	display: inline-block;
	background-color: var(--secondary);
	padding: 4px 12px;
	border-radius: 20px;
	color: var(--black);
	text-transform: none;
	font-size: 1rem;
	margin-bottom: 0.75rem;

}

