/* Table of Contents: 
1. Variables
2. CSS Reset
3. Text Styles
4. Spacing and Section Layout Classes
5. "Buttons"

Sections -
6. NavBar
7. About section
8. Testimonials
9. Services
10. Gallery Cards
11. Product and Website Design sections
12. Footer 
13. Mobile menu

14. Media Queries*/
/*------------------------------*/


/* 1. Variables */
:root {
	--white: white;
	--black: #000000;
	--dark-grey: #6D6B6B;
	--light-grey: #D9D9D9;
	--primary: hwb(256 10% 9%);
	--secondary: #FFFF00;
	--cream: #FAF6EB;
	/* Size and spacing */
	--desk-margin-content: 10vw;
	--desk-margin-nav: 30px;
	--mob-margin: 16px;
	--desk-max-width: 1200px;
	--desk-content-bottom-margin: 120px;
	--button-fixed-width: 18.75rem;
	--button-full-width: 100%;
	--spacing-16: 1rem;
	--spacing-24: 1.5rem;
	--spacing-32: 2rem;
	--spacing-64: 4rem;
	--spacing-96: 6rem;
	--spacing-12: 0.75rem;
	--spacing-14: 0.875rem;
	--spacing-48: 3rem;


	/* Conversions */
	/* 	14px = 0.875
		16px = 1rem
		18px = 1.125
		24px = 1.5
		32px = 2
		48px = 3
		60px = 3.75
		96px = 6
		120px = 7.5
		 */


}

/* 2. CSS Reset */
html {
	box-sizing: border-box; 
	scroll-behavior: smooth;
	scroll-padding: 5rem;
}

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0; 
}


/* 3. Text styles */

body {
	font-family: "DM Sans", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5; /*1.2*/
	color: var(--black);
	background-color: var(--cream);
	width: 100vw;
}

.body-large {
	font-size: 1.5rem;
	letter-spacing: -4%;
}

.body-small {
	font-size: 0.875rem;
	line-height: 1.5;
	color: var(--dark-grey);
}

h1 {
	display: block;
	text-transform: uppercase;
	font-size: 1.125rem;
	font-weight: inherit;
	padding: 1rem 0;
}

h2 {
	text-transform: uppercase;
	font-size: 1.125rem;
	font-weight: 300;
	font-style: italic;
}

h3 {
	text-transform: uppercase;
	font-size: 3.75rem;	
	letter-spacing: -4%;
}

.services-gallery h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--cream);
	width: 50vw;
	min-height: 150px;
	padding: 1.125rem;
	font-family: 'Miller Text', serif;
	line-height: 1.2;
	font-style: italic;
	text-align: center;
}

.project-title h3 {
	font-family: 'Miller Text', serif;
	font-size: 1.5vw; /* or 1.5rem at 1440; */
	font-style: italic;
	font-weight: inherit;
}

quote {
	font-family: 'Miller Text', serif;
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: 500;
}

p {
	text-align: justify;
}

p.tag {
	display: inline-block;
	background-color: var(--secondary);
	padding: 4px 12px;
	border-radius: 20px;
	color: var(--black);
	text-transform: none;
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

ul {
	list-style: none;
}

a {
	color: var(--black);
	text-transform: uppercase;
	text-decoration: none;
}

a:active {
	color: var(--primary);
}

nav li a {
	display: block;
	padding: 1rem 2rem;
	font-style: italic;
	font-size: 1.125rem;
	text-decoration: underline;
}


/* 4. Spacing and Section Layout Classes */

.content-spacing-32 {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-32);
}

.content-spacing-60 {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-64);
}

.content-spacing-96 {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-96);
}

.device-margin {
	width: 66%;
	max-width: var(--desk-max-width);
	margin: 0 auto;
}

.device-margin-nav {
	padding: 0 var(--desk-margin-nav);
}

.section-header {
	padding: 0 0 14px;
	border-bottom: 1px solid var(--black);
	font-weight: 200;
	width: 66%;
	max-width: var(--desk-max-width);
	margin: 0 auto var(--spacing-24) auto;
}

.section-margin-box {
	margin: var(--spacing-64) 0 var(--spacing-96);
}


/* 4. "Buttons" are in fact links styled as buttons*/
a.btn {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	width: 18.5rem;
	padding: var(--spacing-12) var(--spacing-24); 
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	background-color: inherit;
	border: 1px solid var(--black);
	position: relative;
}

a.btn.with-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

/* Default bubble animation*/
a.btn:hover {
	transition: 500ms ease-in;
	background-color: var(--primary);
	color: var(--cream);
	height: 18.5rem;
	border: none;
	border-radius: 300px;
	top: -7.3125rem;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.55);
}

/* No-bubble - color swap */
a.btn.no-bubble:hover {
	transition: 0s;
	background-color: var(--cream);
	border: 1px solid var(--black);
	color: var(--black);
	height: inherit;
	border-radius: 30px;
	top: 0;
	box-shadow: none;
}

#ProductBtn a.btn.no-bubble:hover {
	border: 1px solid var(--primary);
	color: var(--primary);
}


/* Socials animation */
a.btn-inner:hover .socials-circle {
	transition: 500ms ease-in;
	background-color: var(--primary);
	color: var(--cream);
	transform: scale(2);
	border: none;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.55);
}


/* Content Sections */

/* 6. Navbar */

nav {
	background-color: var(--cream);
	display: flex;
	justify-content:space-between;
	align-items: top;
	width: 100%;
	padding: 0 var(--desk-margin);
	height: var(--spacing-64);
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	/* box-shadow: 0 2px 2px rgba(0,0,0,0.4);*/
}

nav ul {
  display: flex;
}

nav a:hover {
	color: var(--primary);
	transform: scale(1.25);
	transition: 200ms ease-in-out;
	font-weight: 500;
}
   
nav.scrolled {
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
} /* adds a drop shadow when scrolled. see script in html */


/* 7. About Section */

.about-section img {
	width: 100%;
}


/* 8. Testimonials */

.testimonial-card {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-32);
}

.testimonial-card:first-of-type {
	margin-top: var(--spacing-32);
}

.testimonial-card  quote {
	width: 80%;
}

.testimonial-card > p {
	width: 60%;
	color: var(--dark-grey);
}

.referee-container {
	display: flex;
	align-items: center;
	gap: var(--spacing-32);
}

.referee-container img {
	width: 64px;
	aspect-ratio: 1/1;
}

.referee-job {
 color: var(--black);
}


/* 9. Services */

.services-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas: 	"pt wt"
							"pl wl"
							"pb wb";
	row-gap: 0;
	justify-items: start;
	padding-bottom: var(--spacing-96);
	color: var(--cream);
}

#ProductTitle {
	grid-area: pt; /* 1 / 1 / 2 / 2;*/
}

#WebsiteTitle {
	grid-area: wt; /* 1 / 2 / 2 / 3;*/
}

#ProductList {
	grid-area: pl; /* 2 / 1 / 3 / 2; */
}

#ProductBtn {
	grid-area: pb; /* 3 / 1 / 4 / 2; */
}

#WebsiteList {
	grid-area: wl;
}

#WebsiteBtn {
	grid-area: wb;
}

.product {
	color: var(--cream);
	background-color: var(--primary);
}

.website {
	color: var(--cream);
	background-color: var(--black);
}

.service-list {
	border-top: 1px solid var(--cream);
	padding: var(--spacing-48) 25%;
	width: 100%;
}

.actions.website, .actions.product {
	padding: 0 25% var(--spacing-48);
	width: 100%;
}

.actions.website .btn, .actions.product .btn {
	border-color: var(--cream);
}



/* 10. Project Galleries */

.project-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-32);
}

.project-gallery li {
	flex-basis: 280px;
	flex-grow: 1;
	margin-bottom: var(--spacing-32);
}

.project-gallery::after {
	content: "";
	flex-basis: 280px;
	height: 4px;
  }

.project-card {
	position: relative;
}

.project-card .image-container {
	margin-top: calc(4rem + 1.5vw);
	border-radius: 30px;
	height: 33vh;
	max-height: 280px;
	max-width: 480px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.project-card img {
	width: 100%;	
}

.project-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	position: absolute;
	width: 100%;
}

.project-title p {
	font-style: italic;
	text-transform: none;
	text-align: left;
}

.project-title .tags-container {
	display: grid;
	max-width: 280px;
	grid-auto-flow: row dense;
	justify-content: start;
	gap: 1.25rem;

}


/* 11. Product and Website Design Section */

.product-services, .website-services {
	margin-bottom: var(--spacing-64);
}

.website-services .project-card .image-container {
	align-items: start;
	padding: 10% 15%;
}

.website-services .project-card img {
	padding: 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#TBA .image-container {
	background-color: #000000;
}

#Torreloft .image-container {
	background-image: url(/images/projects/Torreloft_bckgd.png);
}

#Eolink .image-container {
	background-image: url(/images/projects/Eolink_bckgd.png);
}

/* 12. Footer */

footer {
	padding: var(--spacing-64) 0;
	background-color: var(--black);
	color: var(--cream);
	border-color: var(--cream);
}

footer .section-header {
	border-bottom: 1px solid var(--cream);
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	min-width: 100%;
}

footer .section-header h2 {
	margin-left: 30px;
}

.footer-content {
padding: 0 30px;
}

footer a {
	color: var(--cream);
}

footer .body-small {
	color: var(--cream);
	line-height: 1.2;
}

footer li a {
	text-transform: none;
}

.socials-list {
	display: flex;
	gap: 60px;
}

.socials-list li {
	min-width: 13.5rem;
}

.socials-circle {
	background-color: var(--cream);
	height: 48px;
	width: 48px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
	position: relative;
}

.socials-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#DownloadBtn {
	color: var(--cream);
	border-color: var(--cream);
	position: relative;
}

a[download] {
	color: var(--cream);
	border-color: var(--cream);
}


/* 13 Mobile menu */

aside {
	height: 100vh;
	width: 80%;
	background-color: var(--cream);
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.55);
	position: fixed; /* background content can scroll */
	left: 110vw; /* initial position is completely off canvas (more than 100vw away from the left) */
	z-index: 3;
}

.open {
	transform: translateX(-90vw); /* slide in menu to 80% of vw aligned right */
}

.mobile-menu {
	padding: 0 16px 0 var(--spacing-32);
}

.mobile-menu .header {
	display: flex;
	justify-content: space-between;
}

nav.scrolled .mobile-menu .header {
	height: 3rem; 
} /* reduce navbar height so it takes up less screen space */

.mobile-menu ul {
	margin-top: var(--spacing-24);
	border-top: 1px solid var(--light-grey);
	padding: var(--spacing-24) 0;
	display: flex;
	flex-direction: column;
}

.mob-nav-links a, .header a {
	display: block;
	padding: 1rem;
	font-style: italic;
	font-size: 1.125rem;
}


/* 14. Media queries */

.mobile-only {
	display: none;
} /* use this class to hide mobile only elements on desktop (over 768) */


@media (max-width: 768px) {

	/* 13.1 Mobile only */
	.mobile-only {
		display: inherit;
	}

	.desktop-only {
		display: none;
	}

	.main-content {
		padding-top: 2rem;
	}

	
	/* 13.2 Text styles */
	quote {
		font-size: 2rem;
		line-height: 1.2;
		font-weight: 500;
	}

	p {
		text-align: left;
	}

	.body-large {
		line-height: 1.2;
	}

	/* 13.3 Spacing */
	.device-margin {
		width: inherit;
		max-width: 100vw;
		margin: 0 16px;
	}

	.device-margin-nav {
		padding: 0 var(--mob-margin);
	}

	.section-header {
		width: inherit;
		max-width: 100%;
		padding: 0 16px 14px;
	}
	

	.section-margin-box {
		margin: var(--spacing-32) 0 var(--spacing-64);
	}

	.content-spacing-60 {
		gap: var(--spacing-32);
	}

	.content-spacing-32 {
		gap: var(--spacing-16);
	}

	/* 13.4 Buttons */

	a.btn {
		width: 100%;
		max-width: 24rem;
		padding: var(--spacing-12) 0; 
	}

	a.btn:hover {
		transition: none;
		background-color: inherit;
		color: inherit;
		height: inherit;
		border: 1px solid var(--black);
		border-color: inherit;
		border-radius: 30px;
		top: inherit;
		box-shadow: inherit;
	}


	a.btn-inner:hover .socials-circle {
		transition: none;
		background-color: var(--cream);
		color: var(--black);
		transform: none;
		border: inherit;
		border-radius: 30px;
		box-shadow: inherit;
	}

	/* 13.5 Navbar */

	nav.scrolled {
		height: 3rem; 
	} /* reduce navbar height so it takes up less screen space */
	
	nav li a {
		padding: 1rem;
	}

	/* 13.6 Testimonials */


	.testimonial-card {
		margin-top: var(--spacing-32);
		column-gap: var(--spacing-16);
	}

	.testimonial-card:first-of-type {
		margin-top: var(--spacing-24);
	}

	.testimonial-card  quote, .testimonial-card > p {
		width: inherit;
	}

	.referee-container {
		gap: var(--spacing-16);
	}

	.divider {
		margin-top: var(--spacing-32);
		border-top: 1px solid var(--light-grey);
	}

	/* 13.7 Services */

	.services-gallery {
		grid-template-columns: 1fr;
		grid-template-areas: 	"wt"
								"wl"
								"wb"
								"pt"
								"pl"
								"pb";
		row-gap: 0;
		padding-bottom: var(--spacing-32);
	}

	.services-gallery h3 {
		width: 100%;
		font-size: 2rem;
		min-height: 5rem;
	}

	.service-list {
		padding: var(--spacing-24) 16px;
	}

	.services-gallery .actions {
		padding: 0 16px var(--spacing-32);
		width: 100%;
	}

	.services-gallery .btn {
		width: 100%;
	}


	/* 13.8 Project Galleries */

	.project-gallery{
		margin-top: var(--spacing-16);
	}

	.project-gallery li {
		margin-bottom: var(--spacing-16);
	}

	.project-title h3 {
		font-size: 1.5rem; /* or 1.5rem at 1440; */
	}

	.project-card .image-container {
		margin-top: 0;
	}

	.project-title {
		position: relative;
	}

	.project-gallery li:last-of-type .divider {
		margin-top: var(--spacing-32);
		border-top: 1px solid var(--light-grey);
		border-bottom: 1px solid var(--light-grey);
		height: 5px;
	}

	.product-services, .website-services{
		margin-bottom: var(--spacing-32);

	}

	/* 13.9 Footer */

	footer {
		padding: var(--spacing-32) 0;
	}

	footer .section-header h2 {
		margin-left: 0;
	}

	.footer-content {
		padding: 0 16px;
		}

	.socials-container{
		flex-direction: column;
		align-items: flex-start;
		column-gap: var(--spacing-32);
	}

	.socials-list {
		flex-direction: column;
		gap: var(--spacing-16);
		margin-bottom: var(--spacing-32);
	}

	.socials {
		display: flex;
		align-items: center;
		gap: var(--spacing-16);

	.socials-circle {
		margin-bottom: 0;
	}

	}
}